@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.jumbotron {
    background-image: url("../images/tomatoes.jpg");
    background-size: cover;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
}

i {
    cursor: pointer;
}

i:hover {
    color: green;
}

.card {
    background-color: rgb(173, 162, 162);
}